body {
  /* Change my background, and set global font family.*/
   font-family: "arial";
  background-color: lightgray;
}

.content-wrapper {
  /* Center on page, set width */
    color: black;
    margin: auto;
    width: 68%;
    text-align: center;
    border: 3px solid black;
} 

header h1 {
  /* Make bigger and color, Change our font family to a sans serif and center */
  font-size: 4em; /* 40px/16=2.5em */ 
  background-color:white;
  color:blueviolet;
  font-family: "arial";
  text-align: center;
  padding: .75em 0 .25em 0;
  margin: 0 0 0 0;
}

main-nav {
  /* Change background color, remove bullets, border on each individual nav element. create and float links, center our content within the links. width, font color, change font family */
  width: 68em;
  height: 3em;
  background-color:mediumpurple;
}

.main-nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    border-right: 3px solid black;
    background-color: mediumpurple;
}

 .main-nav li {
   font-family: "arial";
   font-size: 1em;
   font-weight: bold;
   width: 11em;
     text-align: center;
    border-right: 5px solid #6c6380;
    float: left;
}

.main-nav li:last-child {
    border-right: none;
    padding-right: 1em;
  }

.main-nav li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

.main-nav li a:hover {
    background-color: #1111e6;
}

aside {
  /* clear float, background color, float, font color */
  clear: both;
  background-color:#cabee5;
  float: left;
  width: 16em;
  height: 35em;
  font-family: "arial";
  font-size: 1em;
  font-weight: bold;
  padding-top: 6em;
  
  
}

  aside ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color:#cabee5;
  
  }


aside li  {
   padding: .5em .5em;
 width:100%;
 
}
aside li a {
    display: block;
    color: white;
    padding: .5em .5em;
    text-decoration: none;
    text-align: center;
    width:100%;
}

aside li a:hover {
    background-color: #1111e6;   
}


/* Robert Martinez 11-1-17 */
main-fig figure {
/* Center, size of the font */ 
  /*margin: 2em 0;*/
  display: block;
  margin-top: 2.4em;
  margin-bottom: 1em;
  margin-left: 40px;
  margin-right: 40px; 
  padding-left: 20px;
  border-style: solid;
}

.main-fig img {
  text-align: center;
  padding-top: 6em;
  padding-bottom: 1em;
}

.main-fig figcaption {
  text-align: center;
  padding-top: 1em;
 padding-left: 20em;
  padding-right: 10em;
  padding-bottom: 3em;
}

footer {
  clear: both;
 /* text-align: center;*/
  background-color:white;
  text-align: center;
  padding-top: 3em;
  padding-bottom: 3em;
}
footer img {
  text-align: center;
  background-color:white;
  padding-left:1em;
  padding-right:1em;
}
